<!-- {% load static %}   -->
<!-- 2.alternatifi kullanırsan yukardakine gerek yok. -->
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- !! 1.alternatif -->
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <!-- !! 2.alternatif -->
    <link rel="stylesheet" href="/static/style.css" />
    {% block title %}
    <title>ETicaret</title>
    {% endblock title %}
  </head>

  <body data-bs-theme="dark">
    {% include "partials/_navbar.html" %}

    <div class="container">
      {% if messages %} {% for mesaj in messages %}

      <div class="alert alert-{{mesaj.tags}} text-center">{{mesaj}}</div>

      {% endfor %} {% endif %} {% block content %}

      <div class="row">
        {% for i in products %}

        <div class="col-md-4">
          <div class="card mt-5">
            {% if i.image%}
            <img
              src="{{i.image.url}}"
              height="200px"
              class="card-img-top"
              alt="..."
            />
            {% else %}
            <p>Resim yok</p>
            {% endif %}

            <div class="card-body">
              <div class="d-flex justify-content-between">
                <p>Satıcı : {{i.owner.username}}</p>
                <form action="" method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="productId" value="{{i.id}}">
                  <small> ({{i.favorites.all.count}}) </small>
                  <input type="submit" name="fav" 
                  
                  {% if request.user in i.favorites.all %}
                  value="Fav Çıkar"  class="btn btn-danger rounded-5"
                  {% else %}
                  value="Fav Ekle"   class="btn btn-primary rounded-5"
                  {% endif %}
                  >
                </form>

              </div>
              
              <h5 class="card-title">{{i.name}}</h5>
              <p class="card-text">{{i.content|safe}}</p>
              <p>Kategori : {{i.category.name}}</p>

              {% for alt in i.sub_category.all %}

              <small> {{alt.name}} </small>

              {% endfor %}


              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="productId" value="{{i.id}}">
                <input type="number" name="pieces" value="1" id="">
                <input type="submit" name="cart" value="Sepete Ekle" class="btn btn-primary ">
              </form>

              <p class="card-text">{{i.price}}₺</p>
              <a href="{% url 'detail' i.id %}" class="btn btn-primary"
                >Go somewhere</a
              >
              <small class=" text-capitalize ">Tarih : {{i.created_at |naturalday}} </small>
            </div>
          </div>
        </div>
        {% empty %}
        <h2 class="text-center">Ürün Bulunmadı</h2>
        {% endfor %}
      </div>

      {% endblock content %}
    </div>

    <!-- <img src="/static/1.jpg" alt=""> !! resim böylede eklenebilir. -->
    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
